
<form action="" [formGroup]="registrationForm" (ngSubmit)="onSubmit" >

  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input matInput formControlName="name" >
  </mat-form-field>
  <!--  -->
  <!-- <mat-error *ngIf="name.invalid"></mat-error> -->

  <div *ngIf="name.invalid && (name.dirty || name.touched)" >
    
    <mat-error *ngIf="name.errors.required">Name is required</mat-error>
    <mat-error *ngIf="name.errors.minlength">Name required minimum 3 length</mat-error>

    <!-- <h1 *ngIf="name.errors.required" >Name is required</h1> -->
    <!-- <h1 *ngIf="name.errors.minlength" >Name is minLength</h1> -->

  </div>

  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input matInput formControlName="password" >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>conform_password</mat-label>
    <input matInput formControlName="conform_password" >
  </mat-form-field>

  <div formGroupName="address" >
    <mat-form-field appearance="fill">
      <mat-label>city</mat-label>
      <input matInput formControlName="city" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>state</mat-label>
      <input matInput formControlName="state" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>postalcode</mat-label>
      <input matInput formControlName="postalcode" >
    </mat-form-field>
  </div>

  <button [disabled]='!registrationForm.valid' >Submit</button>

  
  <p>value :{{registrationForm.value | json}} </p>
  <p>name.errors.minlength  {{name.errors.minlength | json}} </p>
  <p>name.errors.required {{name.errors.required|json}} </p>
</form>
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->