<div class="container">

  <form  [formGroup]="login" #formdata="ngForm"  (ngSubmit)='onSubmit()' >
    <div [hidden]="formdata.submitted && hide_form" >
    <mat-card class="box  mat-elevation-z8" >
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com"  formControlName="email" required>
      </mat-form-field>
      <mat-error *ngIf="email?.getError('invalid1')">Username isn't right<br> </mat-error>
      
      <div *ngIf="email.invalid && (email.dirty || email.touched)" >
        <mat-error *ngIf="email.errors.required">Email is required</mat-error>
        <mat-error *ngIf="email.errors.pattern">Enter valid email</mat-error>

      </div><br>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <button  type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" >
        <mat-error *ngIf="password.errors.required">Password is required</mat-error>
      </div>

      <mat-error *ngIf="password?.getError('password_invalid')">Wrong password</mat-error><br>


      <button type="submit" mat-raised-button color="primary" [disabled]='!login.valid' >Log in</button><br>
      <button mat-raised-button color="primary" routerLink="/register" >   
          Register
        </button>
    </mat-card> 
  </div>
  </form>
  <!-- <mat-spinner *ngIf="spinner" ></mat-spinner> -->

    <div  class="box" *ngIf=" formdata.submitted && hide_form">
      <p>Log in Successfully</p>
      <button mat-raised-button color="primary" (click)="enable()" routerLink="/login">Sign Out</button>
    </div> 
</div>

    
    
    
    <!-- <p>check {{login.valid | json}}</p> -->
