<p>This is initial setup material custome and dark theme with scss</p>

<mat-tab-group
  [selectedIndex]="selectedIndex"
  (selectedIndexChange)="selectedIndexChange($event)"
  (selectedTabChange)="selectedTabChange($event)"
>
  <mat-tab *ngFor="let item of items; let i = index">
    <ng-template mat-tab-label>
      {{ item.key }}
      <button
        mat-icon-button
        [style.display]="i == 0 ? 'none' : ''"
        (click)="closeTab(item)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
    {{ item.value }}
  </mat-tab>

  <mat-tab disabled>
    <ng-template mat-tab-label>
      <button mat-icon-button (click)="addnewtab()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
