<p>this is inital setup </p>

<div class="" [class.unicorn-dark-theme]="isAlternateMode" >

  <button mat-raised-button color="primary" >Primary</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


</div>
<button mat-raised-button (click)="check()" color="primary" >Primary</button>


<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


