.example-spacer {
  flex: 1 1 auto;
}

.example-action-button {
  margin-top: 8px;
  margin-right: 8px;
}

.tab-color{
  /* border: 1px solid; */
  padding: 1px;
  color: white;
  font-weight: 900;
  z-index: 0;
}